h1 {
    font-family: "Comic Sans MS", cursive;
    font-size: 35px;
    text-align: center;
}

body{
    background-color: #6495ed;
  }

p {
    font-family: "Arial Narrow", sans-serif;
    font-size: 20px;
}

#play {
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    background-color:  #6495ed;
}


